/* Form */
.login_form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.login_form .thumbnail {
  background: #3399ff;
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.login_form .thumbnail img {
  display: block;
  width: 100%;
}
.button1 {
  background: white;
  width: 49%;
  border: 1px solid green;
  padding: 14px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
  color: green;
  font-size: 15px;
  -webkit-transition-duration: 0.5s; 
  transition-duration: 0.5s;
  cursor: pointer;
}
.button2 {
  background: white;
  width: 49%;
  border: 1px solid #008CBA;
  padding: 14px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
  color: #008CBA;
  font-size: 15px;
  -webkit-transition-duration: 0.5s; 
  transition-duration: 0.5s;
  cursor: pointer;
}
.button1:hover{
  background-color: #4CAF50;
  color: white;
}
.button2:hover{
  background-color: #008CBA;
  color: white;
}
.login_form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login_form .message a {
  color: #EF3B3A;
  text-decoration: none;
}
.login_form .register-form {
  display: none;
}

.login_container {
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: 0 auto;
}
.login_container:before, .container:after {
  content: "";  
  display: block;
  clear: both;
}
.login_container .info {
  margin: 50px auto;
  text-align: center;
}
.login_container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.login_container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.login_container .info span a {
  color: #000000;
  text-decoration: none;
}
.login_container .info span .fa {
  color: #EF3B3A;
} 
.colorgraph{
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #4CAF50, #4CAF50 12.5%, #f7fdca 12.5%,
    #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%,
    #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #4CAF50, #4CAF50 12.5%, #f7fdca 12.5%,
    #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%,
    #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #4CAF50, #4CAF50 12.5%, #f7fdca 12.5%,
    #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%,
    #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #4CAF50, #4CAF50 12.5%, #f7fdca 12.5%,
    #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%,
    #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/*#header{
   background-color: #001a33;
   width: 100%;
   height: 10%;
   color: #fff; 
}*/
#menu{
   width: 18%;
   border-right:1px solid #CCCCC;
   border-bottom:1px solid #CCCCC;
   float: left;
   height: 100%;
   background-color: #ccccb3;
}
#footer{
   position: fixed;
   bottom: 0; left:0;
   width: 100%; height:30px;
   background-color: #001a33;
   text-align: center;
}
#konten{
   width: 80%;
   float: right;
}